<div class="jumbotron">
    <h1>Welcome to Affable IT Solutions</h1>
    <img class="" src="assets/images/friendlycharacter.png" style="float:left">
    <div class="col-sm-offset-3">
        <p>Your one stop source for mobile computer services & repair, used laptop sales and web design services in Hillsborough, Pinellas, Polk & Pasco counties.</p>
        <p>We offer a one of a kind mobile computer service which means one of our friendly representatives can perform your repair in the comfort of your own home saving you time & money.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <div class="media">
            <a class="media-left" href="#">
                <img data-src="holder.js/64x64" alt="64x64" src="assets/images/productsmall.gif" data-holder-rendered="true" >
            </a>
            <div class="media-body">
                <h4 class="media-heading">Products</h4>
                We have unbeatable prices on state-of-the-art refurbished laptops &amp; desktop systems. Check out our <a class="open-tab" href="#">products page</a> for current availability.
            </div>
        </div>
        <div class="media">
            <a class="media-left" href="#">
                <img data-src="holder.js/64x64" alt="64x64" src="assets/images/wwwglobesmall.gif" data-holder-rendered="true" >
            </a>
            <div class="media-body">
                <h4 class="media-heading">Web Design</h4>
                Follow <a class="open-tab" href="#tabs-4">this link</a> for more information about the features <br>and benefits of having<br> your own website.
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="media">
            <a class="media-left" href="#/computerServices">
                <img data-src="holder.js/64x64" alt="64x64" src="assets/images/compservsmall.gif" data-holder-rendered="true" >
            </a>
            <div class="media-body">
                <h4 class="media-heading">Services</h4>
                We provide a variety of computer related services for the average consumer as well as for the small business owner. <br><a class="open-tab" href="#tabs-2">Click here to find out more.</a>
            </div>
        </div>
        <div class="media">
            <a class="media-left" href="#/contact">
                <img data-src="holder.js/64x64" alt="64x64" src="assets/images/communicate.gif" data-holder-rendered="true" >
            </a>
            <div class="media-body">
                <h4 class="media-heading">Contact</h4>
                We are extremely easy to get in touch with. <a class=" open-tab" href="#tabs-3">Contact Us</a>.<br>
                <span class="label">Phone: </span> 813-644-2080<br>
                <span class="label">Email: </span> info@affableitsolutions.com
            </div>
        </div>
    </div>
</div>