/*@import "http://fonts.googleapis.com/css?family=Viga";
@import "http://fonts.googleapis.com/css?family=Belleza";
@import "http://fonts.googleapis.com/css?family=GFS+Didot";
@import "http://fonts.googleapis.com/css?family=Radley";*/
body {
    background-color: #DDDADA;
}
* {
    /* list-style-type: circle; */
    outline: medium none;
}
#pageContainer {
    height: 100%;
    width: 1251px;
    margin: 0 auto;
}
#pageOutlineContainer {
    background-color: #E7F0F3;
    border: 1px solid appworkspace;
    font-family: 'GFS Didot',serif;
    margin: 0 auto;
    width: 1073px;
}
a:link, a:visited {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}
.motto {
    text-align: center;
}
.content {
    /* background: none repeat scroll 0 0 #E7F0F3; */
    font-family: Radley,serif;
    margin: 0 auto;
    min-height: 445px;
    position: relative;
    width: 93%;
    z-index: 4;
}
.content *:not(.content_bg) {
}
.content p {
    margin-left: 13px;
}
.content .side_panel {
    background: url("../images/sidepane1.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px dotted #000000;
    float: left;
    left: 13px;
    min-height: 400px;
    position: absolute;
    top: 13px;
    width: 155px;
}
.active {
    background-color: buttonhighlight;
    color: #FF0000;
}
.servicesp {
    list-style-type: none;
}
li span {
    position: relative;
    top: -23px;
}
#contact_form input[type="text"], input[type="url"], input[type="tel"], input[type="number"], input[type="color"], input[type="email"], select, textarea, input[type="checkbox"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 1px 1px 1px 1px #51CBEE inset, 1px 2px 1px 1px #D7E4E4;
    display: inline-block;
    font-family: inherit;
    font-size: 1.12em;
    height: auto;
    margin: 0 auto 10px 13px;
    padding: 4px;
}
#contact_form input[type="checkbox"] {
    margin: 2px 0 18px 107px;
}
input[type="submit"], input[type="reset"] {
    background-color: #FFFFFF;
    border: 3px solid #75BFC5;
    border-radius: 5px;
    font-family: 'Russo One',sans-serif;
    height: 60px;
    left: 4px;
    margin: 12px 15px 0 100px;
    padding: 0;
    position: relative;
    width: 85px;
}
.contextHolder .label {
    font-weight: bolder;
}
.contextHolder {
    background-color: white;
    font-size: 24px;
    margin: 12px;
    padding: 12px;
    text-indent: 0 !important;
    width: 590px;
    border: 1px solid black;
}

.required_dir{
font-family:Radley;

margin: 23px 23px;
font-style: italic;
text-decoration: underline;
}

#contact_form .input_container span {
	vertical-align: top;
}
.shadowy_container {
    box-shadow: 0 2px 3px 5px rgba(149, 201, 222, 0.89), 1px 5px 4px 8px rgba(46, 46, 46, 0.55), 0 8px 6px 10px rgba(0, 0, 0, 0.06);
    margin: 0;
}
.contact_form_container {
    background: none repeat scroll 0 0 rgba(194, 252, 251, 0.5);
    border: 1px solid #000000;
    border-radius: 9px;
    margin: 16px;
    padding: 0;
    position: relative;
    width: 78%;
}
.contact_form_container * {
    text-indent: 0 !important;
}
#contact_form {
    display: inline-block;
    margin: 0 auto;
    padding: 12px;
}
.required {
    color: #FF0000;
}
#contact_form .optional {
    color: #4C6766;
    font-family: Radley;
    font-style: italic;
}
#contact_form #category_select {
    width: 319px;
}
#contact_form textarea {
    margin: 0px 0 0 6px;
    resize: none;
}
#contact_form .submit_button {
    height: 60px;
    left: 125px;
    margin: 12px 12px 0 100px;
    padding: 0;
    position: relative;
    width: 85px;
}
#contact_form input[type="submit"]:active, #contact_form input[type="reset"]:active {
    background-color: #B0D6D6;
    border: 3px solid #A7CAFF;
}
#contact_form .reset_button {
    border-radius: 5px;
    float: left;
    font-family: 'Russo One',sans-serif;
    height: 60px;
    left: 239px;
    margin-left: 1px;
    padding: 0;
    position: relative;
    width: 85px;
}
#contact_form .input_container .label {
    color: #000000;
    display: inline-block;
    font-family: 'GFS Didot',serif;
    font-weight: bolder;
    margin-left: 12px;
}
#contact_form .input_container {
    float: left;
}
[id*="listing"] {
    background-color: #FFF5EE;
}
#listings_table, #listing_page {
    font-size: 0.8em;
}
#listings_table {
    border-collapse: collapse;
    margin: 10px;
    position: absolute;
    top: 4px;
    width: 775px;
}

#listings_table td{
    padding:0.5em;
}
#listing_table * {
    padding: 111px;
}
#listings_table img, #listing_page img {
    width: 100%;
}
#listings_table .button {
    height: 75px;
}
#listings_table input[type="button"], #listing_page input[type="button"] {
    background-color: #99CCFF;
    color: #08233E;
    cursor: pointer;
    font: 80% Futura,ÃƒÆ’Ã‚Â¯Ãƒâ€šÃ‚Â¿Ãƒâ€šÃ‚Â½Century GothicÃƒÆ’Ã‚Â¯Ãƒâ€šÃ‚Â¿Ãƒâ€šÃ‚Â½,AppleGothic,sans-serif;
    margin: 0 auto;
}
#listings_table input[type="button"]:hover, #listing_page input[type="button"]:hover {
    background-color: rgba(255, 204, 0, 0.8);
}
#listing_table .brand, #listing_page .brand {
    font-weight: 900;
    left: 13px;
    position: relative;
}
#listing_table .description {
    position: absolute;
    text-align: left;
    word-wrap: break-word;
}
#listing_page .description {
    padding: 12px;
    position: absolute;
    word-wrap: break-word;
    top: 33px;
}
#listing_page .description p {
    text-indent: 12px;
}
#listing_table .title {
    font-weight: 600;
    left: 5px;
    padding: 0 12px 0 0;
    position: absolute;
    top: 3px;
    vertical-align: super;
    width: 500px;
}
#listing_page .title {
    font-weight: 700;
    right: 28px;
    padding: 0 12px 0 0;
    position: absolute;
    top: 6px;
    vertical-align: super;
    width: 500px;
}
#listing_table td img, #listing_page td img {
    width: 100%;
}
#listing_page {
    border-collapse: collapse;
    margin: -5px;
    position: absolute;
    right: 13px;
    table-layout: fixed;
    top: 13px;
    width: 775px;

}
#listing_page td * {
    position: relative;
    text-indent: 0;
}
.order_call_banner {
    background: url("../images/calltoorder.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px dotted #000000;
    top: 279px;
    height: 111px;
    position: absolute;
    right: 9px;
    width: 770px;
}
#call_banner {
    background: url("../images/callanytime.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px dotted #000000;
    bottom: 2px;
    height: 111px;
    position: absolute;
    right: 2px;
    width: 662px;
}
.small_call_banner {
    background: url("../images/callanytime.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px dotted #000000;
    height: 95px;
    width: 590px;
}
#listing_page #listing_gallery .gallery_thumb {
    border: 1px solid #000000;
    margin: 1px;
    padding: 1px;
    width: 33px;
}
#tabs {
    width: 977px;
}
#tabs .side_panel {
    left: 13px;
    top: 255px;
}
#tabs dt {
    font-weight: bolder;
}
#tabs dd {
    float: left;
    padding: 12px;
    text-indent: 15px;
}
.indent {
    float: left;
    text-indent: 15px;
}
.back {
    background: url("../images/backbutton.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 58px;
    left: 196px;
    position: absolute;
    top: 220px;
    width: 144px;
}

.content{
   padding: 33px;
   margin: 0 auto;
   width: 65%;
}

.content dl {
    float: left;
    /* margin-right: 2em; */
    width: 260px;
    padding: 29px 29px 0px 11px;
    box-shadow: 0 0 0 #00FF99 inset, 1px 1px 5px #999999;
    margin:0;
    background-color: rgba(255, 255, 255, 0.67);
}

.content dl:hover {
    background-color:white;
}

.content dt {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.7em;
    padding-bottom: 12px;
}
.content dt a {background-color:white;
    font-family: 'GFS Dot',sans-serif;background-color: #FFFFFF;
}
.content dd {

    /* background: red; */
    background: none no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #444444;
    line-height: 1.5em;
    margin: 0 0em 2em 0em;


    padding-left: 4.4em;
    width: 250px;
}
.content dd a:hover {
    text-decoration: underline;
}
.content dd.promotional1 {
    background-image: url("../images/productsmall.gif");
}
.content dd.promotional2 {
    background-image: url("../images/communicate.gif");
}
.content dd.promotional3 {
    background-image: url("../images/compservsmall.gif");
}
.content dd.promotional4 {
    background-image: url("../images/communicate.gif");
}
.content dd.promotional5 {
    background-image: url("../images/wwwglobesmall.gif");
}
.content dd.promotional6 {
    background-image: url("../images/communicate.gif");
}
.content .label {
    font-weight: bolder;
}
.content {
}
.content a:link:not(.header_link), .content a:visited:not(.header_link) {
    color: #0000FF;
}
.content .header_link {
    /* background-color: white; */
    border-radius: 4px;
    box-shadow: 0 0 0 #00FF99 inset, 1px 1px 5px #999999;
    padding: 12px;
}

.content a.header_link:hover{
    border:0;
}
.ErrContainer {
    border: 2px dotted #000000;
    color: #FF0000;
    display: none;
    height: auto;
    margin: 0 auto 0 13px;
    padding: 13px;
    position: relative;
    width: 413px;
}
.ErrContainer li {
    text-shadow: 0 1px 1px #000000;
}
.ErrContainer h4 {
    color: #000000;
}

.bodycopy{
    font-family: Arial;
}

.bodycopy .header{
    display: block;
    font-size: 1.3em;
    font-family: Belleza, Times New Roman;
}

.bodycopy article{
    font-family: Radley, Arial;
    padding: 10px;
    line-height:170%;
}

 #footer{
/*        position:absolute;
        bottom:0px;*/
        height:auto;
        width:100%;
        background-color:#999999;
    }

    #footer *{
        padding:2px;
    }

    #footer a{
        text-decoration: none;
        font-family: Viga, Arial;
        border:1px solid black;
        padding:3px;
    }

    #footer .links{
        padding:15px 3px 10px 3px;
        position:relative;
    }

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.container {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.dropdown:hover {
    cursor: pointer;
    cursor: hand;
}