<h2>{{title}}</h2>
<div class="col-lg-6">
    <div class="media">
        <div class="media-body">
            <dt>We service all makes & models of Windows & Mac's</dt>
            <p>
                We at Affable know the dependability that most clients have in demand for their personal or business PC so we are committed to providing the most comprehensive and reliable service available in Tampa Bay.
            </p>
            <dt>What makes us different than the competition?</dt>
            <p>
                We offer a one of a kind mobile service wherein one of our techs will come to you and repair your pc while you watch in the comfort of your own home.
            </p>
            <dt>What makes us different than the competition?</dt>
            <p>
                We offer our services at unbeatable prices. You don't pay a penny for the diagnostic. The only cost you're responsible for up front is a small trip fee of $19.95.
            </p>
        </div>
    </div>
    <div class="small_call_banner"></div>
</div>