<section  id="portfolio">
                    <h2>Portfolio</h2>
                    <div id="">
                        <h3>Websites</h3>
                        <div>
                            <article class="clear">
                                <a href="http://www.affableitsolutions.com"><img alt="angelo scalabroni, web design, developer, tampa, florida, programmer, web, website, php, css, freelancer, angelo, scalabroni, affable, it, solutions" class="alignleft" src="assets/images/affsmall.gif" /></a>
                                <p>Affable IT Solutions</p>
                            </article>
                            <article class="clear">
                                <a href="#"><img alt="angelo scalabroni, web design, developer, tampa, florida, programmer, web, website, php, css, freelancer, angelo, scalabroni, affable, it, solutions" class="alignleft" src="assets/images/zrealtysmall.gif" /></a>
                                <p>ZRealtyTampa</p>
                            </article>
                            <article class="clear">
                                <a href="http://www.aesthetics-to-you.com"><img alt="angelo scalabroni, web design, developer, tampa, florida, programmer, web, website, php, css, freelancer, angelo, scalabroni, affable, it, solutions" class="alignleft" src="assets/images/aesthetsmall.gif" /></a>
                                <p>Aesthetics-To-You</p>
                            </article>
                            <article class="clear">
                                <a href="publicsite/liftstolease/"><img alt="angelo scalabroni, web design, developer, tampa, florida, programmer, web, website, php, css, freelancer, angelo, scalabroni, affable, it, solutions" class="alignleft" src="assets/images/ltlsmall.gif" /></a>
                                <p>Lifts To Lease</p>
                            </article>
                            <article class="clear">
                                <a href="http://www.weightsonme.com/"><img alt="angelo scalabroni, web design, developer, tampa, florida, programmer, web, website, php, css, freelancer, angelo, scalabroni, affable, it, solutions" class="alignleft" src="assets/images/wtsonmesmall.gif" /></a>
                                <p>Weights On Me</p>
                            </article>
                        </div>
                        <!--<h3>Github Projects</h3>
                        <div>
                            <img class="loading" src="images/ajax_loader_blue_350.gif"/>
                        </div>!-->
                    </div>

                    <div class="clear"></div>
                </section>