<table width="692" border="0" cellspacing="0" cellpadding="5">
                            <tr valign="top"> 
                                <td width="225"><!--<img SRC="media/trans.gif" width="225" height="1">!--></td>
                                <td width="463"></td>
                            </tr>
                            <tr valign="top"> 
                                <td height="21" align="center" valign="top"> 
                                    <div align="center"><img src="assets/images/servrroom.png" > 
                                    </div>
                                </td>
                                <td class="bodycopy"> 
                                    
                                    <span class="header">Custom Programming</span>
									<article>The web & server developers at Affable specialize in the top programming languages of today.
                                    <br>
									&nbsp;75.00 per hour</article>
                                    
                                    <span class="header">Content Editing </span>
                                    <article>(text only)<br>&nbsp;35.00 per hour</article>
                                    
                                    <span class="header">Email</span>
                                    <article> (Up to 100 Corporate Email Boxes)<br>&nbsp;50.00 Yearly</article>
                                        
                                    <span class="header">Search Engine Optimization</span>
                                    <article>Monthly re submission to all search 
                                            engines and any new relevant search engine or directory<br>
                                            starting at&nbsp;500.00 Yearly</article>
                                    
                                    <span class="header">Form Page with validation</span>
                                    <article>&nbsp;35.00/form item</article>
                                    
                                    <span class="header">Business Core Site</span>
                                    <article>&nbsp;Design and code a four page web 
                                            site, 2.5 hours design time, Approximately 800 words, 
                                            Sixteen Images (digital), Host site on Level one server 
                                            backed up every 24 hours, full ftp privileges. 24 hour 
                                            premium customer support. Guaranteed up time.<br>
                                            &nbsp;690.00 Yearly</article>
                                    <span class="header">Content Management System</span>
                                    <article>&nbsp;Add a custom content management system to your website
                                        to allow you, the client to control what goes on your website. Post your pictures
                                        to your own website.<br>
                                            &nbsp;150+ Yearly</article>
                                    
<!--                                    <span>All service must be canceled in writing within 30 days of 
                                            termination date of this contract or contract will 
                                            automatically renew at the guaranteed renewal price.</span>-->
                                </td>
                            </tr>
                        </table>